[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
kivy = "*"
pymediainfo = "*"
evdev = "*"
pyinstaller = "*"
xlib = "*"

[requires]
python_version = "3.7"
